div.alert.alert-cookie {
    display: none;
    max-width: 580px;
    padding: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 9999;
    background: #F6F6F4 0% 0% no-repeat padding-box;
    border-top-left-radius: 30px;
}

div.alert.alert-cookie .alert-title {
    font: normal normal normal 20px/27px 'Roboto', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #464545;
}


div.alert.alert-cookie .alert-content {
    font: normal normal normal 15px/20px 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #464545;
    text-transform: capitalize;
}

div.alert.alert-cookie .accept-button-container {
    box-shadow: 0px 5px 7px #00000008;
    border: 1px solid #A767A5;
    border-radius: 10px 0px 10px 10px;
    opacity: 1;
    padding: 5px 21px;
    pointer-events: auto;
    cursor: pointer;
    margin: 0px 6px;
    width: max-content;
    pointer-events: auto;
    cursor: pointer;
}

div.alert.alert-cookie .accept-button-container span {
    text-align: left;
    font: normal normal normal 18px/24px 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #A767A5;
    opacity: 1;
}

div.alert.alert-cookie .accept-button-container:hover span {
    text-decoration: underline;
}
